* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* shared style */
.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
.btn {
  background-color: #469165;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  padding: 12px 16px;
  font-size: 16px;
  font-weight: 600;
  align-items: center;
  cursor: pointer;
  max-height: 44px;
  display: flex;
  gap: 10px;
  margin-top: 24px;
  box-shadow: 0 10px 20px #00000026;
}

nav {
  /* width: 71%; */
  /* max-width: 1600px; */
  display: flex;
  justify-content: space-between;
  padding: 16px 120px;
  background-color: #ffffff;
}
.logo {
  margin: 16px 0;
}
nav ul {
  list-style-type: none;
  display: flex;
  gap: 32px;
  margin-top: 34px;
  margin-bottom: 34px;
}
nav ul li {
  color: #000000;
  font-weight: 500;
  font-size: 16px;
}
/* hero-section */
.hero {
  height: 674px;
  background-image: url(../assets/hero-bg.png);
  background-repeat: none;
  display: flex;
  align-items: center;
}
.hero-container {
  width: 71%;
  max-width: 1360px;
  margin: 115px auto;
  text-align: center;
}
.early {
  display: flex;
  justify-content: center;
  width: 230px;
  background-color: #ffffff;
  border-radius: 1000px;
  padding: 8px 12px;
  margin: 0 auto;
  gap: 6px;
  align-items: center;
}
.early img {
  width: 16px;
  height: 16px;
}
.early p {
  font-size: 16px;
  font-weight: 500;
  color: #276941;
}
.heading-section {
  padding-top: 16px;
  text-align: center;
}
#heading-container {
  width: 770px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 16px;
}
.heading-section h2 {
  font-size: 72px;
  font-weight: 700;
  color: #ffffff;
}
.col {
  color: #30b868;
}
.heading-section p {
  max-width: 1360px;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  padding: 0 200px;
  color: #ffffff;
  /* margin-bottom: 32px; */

  /* text-align: center; */
}
.button {
  display: flex;
  justify-content: center;
  gap: 16px;
}
#btn2 {
  color: #ffffff;
  border: none;
  border: 1px solid #ffffff;
  border-radius: 4px;
  padding: 12px 16px;
  font-size: 16px;
  font-weight: 600;
  align-items: center;
  cursor: pointer;
  max-height: 44px;
  display: flex;
  gap: 10px;
  margin-top: 24px;
}

.extra-info {
  max-width: 1600px;
  text-align: center;
}
.info-heading {
  max-width: 1360px;
  height: 160px;
  text-align: center;
  margin: 0 auto;
}
.info-heading h3 {
  font-size: 48px;
  font-weight: 700;
  padding-top: 40px;
  color: #001931;
  margin-bottom: 16px;
}
.info-heading p {
  color: #627382;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 44px;
}
.card-container {
  max-width: 1360px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  gap: 24px;
}
.card-info {
  max-width: 322px;
  max-height: 300px;
  background-color: #ffffff;
  border-radius: 8px;
  padding: 70px 24px;
  box-shadow: 0 0 8px #0000000f;
}
.card-image {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-color: #f95555;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15.5px 16.5px;
  margin-left: 110px;
  margin-bottom: 16px;
}
.card-title {
  color: #001931;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 16px;
}
.card-text {
  color: #627382;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

.solution,.enroll {
  max-width: 1600px;
}
.solution-container {
  max-width: 1360px;
  height: 600px;
  margin: 120px;
  display: flex;
  gap: 60px;
}
.solution-container img{
  max-width: 600px;
  max-height: 600x;
}
.info-container{
  max-width: 700px;
  margin: 102px 0;
}
#sol{
  font-size: 16px;
  font-weight: 500;
  color: #2a9b59;
  margin-bottom: 16px;
}
.heading-container h3{
  font-size: 48px;
  font-weight: 700;
  padding-top: 15px;
  color: #001931;
  margin-bottom: 16px;
}
.heading-container p{
  color: #627382;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 40px;
}
.checkbox-container{
  max-width: 700px;
  height: 128px;
}
.chk-card{
  display: flex;
  gap: 6px;
}
.chk-img{
  width: 16.25px;
  height: 16.25px;
}
.chk-info{
  color: #001931;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 16px;
}

.enroll-container{
  max-width: 1360px;
  margin: 2px 120px 120px 120px;
  background-color: #F7F6F2;
}
.enroll-heading{
  max-width: 1280px;
  padding: 80px 40px 24px 40px;
  text-align: center;
}
.enroll-heading h3{
  color: #001931;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 16px;
}
.enroll-heading p{
  color: #627382;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.button-section{
  max-width: 1280px;
  margin: 0 40px 80px 40px;
}
.button-section button{
  margin: 0 auto;
  margin-bottom: 16px;
}
.button-section p{
  text-align: center;
  color: #627382;
  font-size: 16px;
  font-weight: 400;
}
/* footer */
footer{
  max-width: 1600px;
  background-color: #001931;
}
.footer-info{
  max-width: 1360px;
  padding: 120px 120px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
.socials{
  max-width: 220px;

}
.socials h5{
  color: #FFFFFF;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 16px;
}
.social-img{
  display: flex;
  width: 20px;
  height: 20px;
  gap: 16px;
}
.copyright{
  max-width: 1360px;
  padding-top: 30px;
  margin: 0 auto;
  padding-bottom: 30px;
}
.copyright p{
  text-align: center;
  color: #FAFAFA;
  font-size: 16px;
  font-weight: 400;
 
}
hr{
  max-width: 1360px;
  margin: 0 auto;
  border: none;
  height: 1px;
  background-color: #E5E7EB;
  opacity: 0.2;
}